@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D5E1EF;
}

h2 {
    font-size: 1.4em;
}
p {
    font-size: .9em;
}

.card_container {
    width: 350px;
    height: 500px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    background-color: ;
    gap: 22px;
    padding: 12px;
    text-align: center;
}

.card_container .img {
    width: 310px;
    height: 300px;
    border-radius: 16px;
}

.card_container .img img {
    width: 100%;
    border-radius: 16px;
}

.text p {
    margin-top: 14px;
}